.vscode
__pycache__/
__init__.pyc
migrations/
search_engine_app/venv
search_engine_app/notebooksearch/Notebooks/Kaggle/*
search_engine_app/notebooksearch/Notebooks/Github/*
search_engine_app/notebooksearch/Raw_notebooks/Github/*
search_engine_app/notebooksearch/Raw_notebooks/Kaggle/*


search_engine_app/notebooksearch/test.py
search_engine_app/test.ipynb
search_engine_app/auth/kaggle_token.json


elasticsearch/data/*
elasticsearch/logs/*

postgres/data/*
postgres/logs/*

pgadmin/data/*

push_docker_images.sh

.env

rclone_setup.sh
temp/