.vscode
__pycache__/
search_engine_app/venv
search_engine_app/notebooksearch/Github Notebooks
# search_engine_app/notebooksearch/migrations/*
# search_engine_app/genericpages/migrations/*
# search_engine_app/apis/migrations/*


elasticsearch/data
elasticsearch/logs

postgres/data
postgres/logs
postgres/pgadmin

search_engine_app/notebooksearch/test.py