{% extends 'base.html' %}

{% load static %}
{% block body %}
<!-- Pre-loader start -->
<div class="theme-loader">
    <div class="loader-track">
        <div class="loader-bar"></div>
    </div>
</div>
<!-- Pre-loader end -->
<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">
        {% comment %} Top bar {% endcomment %}
        {% include 'top_bar.html' %}
        
        <div class="pcoded-main-container">
            <div class="pcoded-wrapper">
                {% comment %} Left pannel {% endcomment %}
                <!-- {% block left_pannel %} left_pannel {% endblock %} -->
                {% include 'left_pannel.html' %}
                
                {% comment %} Main body {% endcomment %}
                {% block main_body %}  
                <div class="pcoded-content">
                    <div class="pcoded-inner-content">
                        <div class="main-body">
                            <div class="page-wrapper" id="MessageBox">                        
                                <div class="page-body" itemindex="1" result-id="NB_306c7303481753f0ba0e6479ddeb960126f063fccedf2c31ea3b9ea0dd15db18 " result-url="https://www.kaggle.com/code/skylord/test-test-and-test">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="card">
                                                <div class="card-header">
                            
                                                    <h5 class="m-b-10 titleTrimming" id="result-title">
                                                        <a href="https://www.kaggle.com/code/skylord/test-test-and-test" target="_blank" style="color:darkblue;">
                                                            <img src="/static/images/notebook_icon.png" style="width:25px; left: 10px; margin-right:6px;">
                                                            Test, Test and Test!
                                                        </a>
                                                    </h5>
                            
                            
                                                    <div class="card-header-right">
                                                        <ul class="list-unstyled card-option">
                                                            <li><i class="fa fa-chevron-left" aria-hidden="true"></i></li>
                                                            <li><i class="fa fa-window-maximize full-card" aria-hidden="true"></i></li>
                                                            <li><i class="fa fa-minus minimize-card" aria-hidden="true"></i></li>
                                                            <li><i class="fa fa-refresh reload-card" aria-hidden="true"></i></li>
                                                            <li><i class="fa fa-times close-card" aria-hidden="true"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="card-block">
                                                    <p class="show-read-more">
                                                        Number of cases in the wild will always be higher than the number of cases detected by health officials. 
                            ie. (Actual cases &gt; confirmed cases)
                            An asymptomatic patient can lead to far wider spread of the disease and eventually lead to a condition known as *community spread*.  
                            The only way one can control it is by increasing the number of tests. 
                            Countries which were pro-active in prepaing for the COVID-19 pandemic,were able to control the spread &amp; have a lower <a href="javascript:void(0);" class="read-more">[+]</a><span class="more-text"> mortality rate. Their labs were preparing testing kits as far back as in early Jan [link to news article]()
                            Please also read Nate Silver's critique on how the [number of case counts is meaningless]() unless it's correlated with the testing strategy. 
                            In this notebook, I will illustrate the impact of testing on the total number of cases.
                            1. Iceland has a large outlier, having conducted more than 45k+ tests/ million
                            2. Note that Iceland has a population of 3.64 lacs &amp; has conducted 16k+ tests! 
                            3. Within Italy, the region of Veneto has a higher incidence of tests/million while the confirmed cases/million is also lower  
                            Following countries have a high ``Tests/Positive (Confirmed Cases)``
                            |Country/Region | Tests/Positive |
                            | --- | --- |
                            |Canada-NW territories | 833 |
                            |UAE | 385 |
                            |Russia | 292 |
                            + All Canada territories have high ``Tests/Positive (Confirmed Cases)`` 
                            + For the following countries the ratio is 
                            |Country/Region| Tests/Positive |
                            | --- | --- |
                            |Australia| 53|
                            |Singapore| 69|
                            |Taiwan| 98|
                            |Hong-Kong| 132|  
                            *Assumptions &amp; Limitations*
                            1. Countries have different testing strategies.
                            2. Testing strategy is often a function of the
                            a. country's preparedness for the disease,
                            b. availability of testing kits and labs and often
                            c. political will!
                            3. The data has been collated from multiple sources, hence it's as good as the data collected
                            4. Sources of the data points are cited in the [data file]()
                            5. Highly connected cities/countries will have a larger incidence of the disease
                            We will now create separate series for the following countries of interest:
                            1. United States
                            2. Italy
                            3. China
                            4. Rest of the World
                            We now calculate the number of tests per confirmed cases (posit</span></p>
                                                    <ul class="breadcrumb-title b-t-default p-t-10">
                                                        <li class="breadcrumb-item"><a href="#!">
                                                            <div style="display:inline-block;"> Source: Kaggle</div>
                                                            <span style="padding:10px; color:lightgray;"> | </span>
                                                            <div style="display:inline-block;"> Markdowns: 3; Codes: 12</div>
                                                            <span style="padding:10px; color:lightgray;"> | </span>
                                                            <span style="display:inline-block" class="ti-cloud-down"></span>
                                                            
                                                                
                            
                            
                                                            <img src="/static/images/selection_icon.png" data-docid="NB_306c7303481753f0ba0e6479ddeb960126f063fccedf2c31ea3b9ea0dd15db18" data-type="notebook" data-name="Test, Test and Test!" data-url="https://www.kaggle.com/code/skylord/test-test-and-test" data-toggle="tooltip" data-placement="top" title="" id="object_selection_icon_image" onclick="selectObject(event, 'select');" style="width:30px; right:30px;position: absolute;margin-right:20px;" data-original-title="Select">
                                                            
                                                        </a></li><a href="#!">
                                                    </a></ul><a href="#!">
                                                </a></div><a href="#!">
                                            </a></div><a href="#!">
                                        </a></div><a href="#!">
                                    </a></div><a href="#!">
                                </a></div>   
                            </div>
                            <a href="#!" id="page-selector">

                                <div style="text-align:center; margin-bottom:40px;">
                                    
                                    
                                    <input type="button" class="btn btn-grd-primary" style="font-weight:bold; width:30px; padding:5px;" value="1">
                                    
                                    
                                    
                                    <input type="button" class="btn btn-primary btn-outline-primary" style="font-weight:bold; width:30px; padding:5px;" value="2" onclick="btnPage(2);">
                                    
                                    
                                    
                                    <input type="button" class="btn btn-primary btn-outline-primary" style="font-weight:bold; width:30px; padding:5px;" value="3" onclick="btnPage(3);">
                                    
                                    
                                    
                                    <input type="button" class="btn btn-primary btn-outline-primary" style="font-weight:bold; width:30px; padding:5px;" value="4" onclick="btnPage(4);">
                                    
                                    
                                    
                                    <input type="button" class="btn btn-primary btn-outline-primary" style="font-weight:bold; width:30px; padding:5px;" value="5" onclick="btnPage(5);">
                                    
                                    
                                    
                                    <input type="button" class="btn btn-primary btn-outline-primary" style="font-weight:bold; width:30px; padding:5px;" value="6" onclick="btnPage(6);">
                                    
                                    
                                    
                                    <input type="button" class="btn btn-primary btn-outline-primary" style="font-weight:bold; width:30px; padding:5px;" value="7" onclick="btnPage(7);">
                                    
                                    
                                    
                                    <input type="button" class="btn btn-primary btn-outline-primary" style="font-weight:bold; width:30px; padding:5px;" value="8" onclick="btnPage(8);">
                                    
                                    
                                    
                                    <input type="button" class="btn btn-primary btn-outline-primary" style="font-weight:bold; width:30px; padding:5px;" value="9" onclick="btnPage(9);">
                                    
                                    
                                    
                                    <input type="button" class="btn btn-primary btn-outline-primary" style="font-weight:bold; width:30px; padding:5px;" value="10" onclick="btnPage(10);">
                                    
                                    
                                </div>
                            </a>                            
                        </div>
                    </div>             
                </div>
                
                {% endblock %}
            </div>
        </div>
    </div>
</div>

{% csrf_token %}
<script>
    $(document).ready(function() {
        introJs().setOptions({
            skipLabel: '',
            showStepNumbers: false,
            showBullets: false,
            exitOnOverlayClick: false,
            exitOnEsc: false,
            // hideNext: true,
            prevLabel: '< back', 
            nextLabel: 'next >',
            disableInteraction: true,
            steps: [{
                intro: "Thanks for using our search engine! This is a quick guide to help you get started."
            }, {
                element: document.querySelector('#notebook_channel'),
                intro: "Click here to search notebooks."
            }, {
                element: document.querySelector('#dataset_channel'),
                intro: "Click here to search datasetes."
            },{
                element: document.querySelector('#searchbox2'),
                intro: "Input your query in here."
            },{
                element: document.querySelector('#searchboxbutton2'),
                intro: "Click this button for searching."
            }, {
                element: document.querySelector('.main-body'),
                intro: "The search results."
            }, {
                element: document.querySelector('#page-selector'),
                intro: "See results in other papges."
            }, {
                element: document.querySelector('#result-title'),
                intro: "Click here to view the content."
            }, {
                element: document.querySelector('.read-more'),
                intro: "Click here to show more content."
            }, {
                element: document.querySelector('#object_selection_icon_image'),
                intro: "Click here to select this item (notebook/dataset) as the context for further searching."
            }, {
                element: document.querySelector('#task_button'), 
                intro: "Click here to add the task Entity ."
            },{
                element: document.querySelector('#method_button'), 
                intro: "Click here to add the method Entity ."
            },{
                element: document.querySelector('#dataset_button'), 
                intro: "Click here to add the dataset Entity ."
            },{
                element: document.querySelector('#post-test-button'),
                intro: "When you finish the searching task, click here to take a short survey about the experience."
            },    
        ]
        }).onbeforeexit(function() { console.log("on before exit")
          // returning false means don't exit the intro
            return false;}).oncomplete(function() {
        alert("end of introduction");
        window.location.href = "http://145.100.135.19:8000/"; // Replace "https://example.com" with the desired URL
        }).start();
    });
</script>

{% endblock %}