{% extends 'base.html' %}

{% load static %}
{% block body %}
<!-- Pre-loader start -->
<div class="theme-loader">
    <div class="loader-track">
        <div class="loader-bar"></div>
    </div>
</div>
<!-- Pre-loader end -->
<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">
        {% comment %} Top bar {% endcomment %}
        {% include 'top_bar.html' %}
        
        <div class="pcoded-main-container">
            <div class="pcoded-wrapper">
                {% comment %} Left pannel {% endcomment %}
                <!-- {% block left_pannel %} left_pannel {% endblock %} -->
                {% include 'left_pannel.html' %}
                
                {% comment %} Main body {% endcomment %}
                {% block main_body %} Main body {% endblock %}
            </div>
        </div>
    </div>
</div>

{% csrf_token %}
<script>
    function clearSearchBoxes() {
        sessionStorage.setItem("searchValue", "");
    }
    //---------------------------------------------------------------------
    function facetSearch(facet, filter) {
        // Construct URLSearchParams object instance from current URL querystring.
        var queryParams = new URLSearchParams(window.location.search);
        // Set new or modify existing parameter value.
        queryParams.set("filter", filter);
        queryParams.set("facet", facet);
        queryParams.set("page", 1);
        // Replace current querystring with the new one.
        history.replaceState(null, null, "?" + queryParams.toString());
        location.reload();
    }
    //---------------------------------------------------------------------
    function search(searchBoxNum) {
        var searchValue = ""
        if (searchBoxNum == 1) {
            searchValue = document.getElementById('searchbox1').value;
        }
        else {
            searchValue = document.getElementById('searchbox2').value;
        }
        sessionStorage.setItem("searchValue", searchValue);

        if (searchValue == "") {
            document.getElementById('MessageBox').innerText = "Please enter at least one keyword, otherwise, I cannot help you!";
        }
        else {
            // Construct URLSearchParams object instance from current URL querystring.
            var queryParams = new URLSearchParams(window.location.search);
            // Set new or modify existing parameter value.
            queryParams.set("page", 1);
            queryParams.set("query", searchValue);
            
            // Replace current querystring with the new one.
            history.replaceState(null, null, "?" + queryParams.toString());
            location.reload();
        }
    }
    //--------------------------------------------------------------------- Iniitialization
    {% comment %} document.getElementById('searchbox1').value = sessionStorage.getItem("searchValue"); {% endcomment %}
    document.getElementById('searchbox2').value = sessionStorage.getItem("searchValue");
    cnt = document.querySelectorAll("#MyCart li").length - 1;
    $('#MyCartCount').text(cnt);
    //---------------------------------------------------------------------
    $(document).ready(function () {
        var maxLength = 500;
        $(".show-read-more").each(function () {
            var myStr = $(this).html();
            if ($.trim(myStr).length > maxLength) {
                var newStr = myStr.substring(0, maxLength);
                var removedStr = myStr.substring(maxLength, $.trim(myStr).length);
                $(this).empty().html(newStr);
                $(this).append(' <a href="javascript:void(0);" class="read-more">[+]</a>');
                $(this).append('<span class="more-text">' + removedStr + '</span>');
            }
        });
        $(".read-more").click(function () {
            $(this).siblings(".more-text").contents().unwrap();
            $(this).remove();
        });

        // Activate tootips
        $('[data-toggle="tooltip"]').tooltip();
    });
    //---------------------------------------------------------------------
    // https://docs.djangoproject.com/en/3.2/ref/csrf/#acquiring-the-token-if-csrf-use-sessions-and-csrf-cookie-httponly-are-false
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
            const cookies = document.cookie.split(";");
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + "=")) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    
    function modifyBasket(operation, type, title, url, id) {

        if (title.length > 35) {
            title = title.substring(1, 35) + "...";
        }


        if (operation == 'add') {
            id = 'id' + (new Date()).getTime();
        }
        newEntitiy = { 'operation': operation, 'type': type, 'title': title, 'url': url, 'id': id };
        $.ajax({
            url: '../add_to_basket',
            type: "POST",
            dataType: "json",
            data: JSON.stringify(newEntitiy),
            headers: {
                "X-Requested-With": "XMLHttpRequest",
                "X-CSRFToken": getCookie("csrftoken"),  // don't forget to include the 'getCookie' function
            },
            success: (data) => {
                console.log(data);
                modifyCart(data);
            },
            error: (error) => {
                console.log(error);
            }
        });
    }

    function modifyCart(data) {
        if (data['operation'] == 'add') {
            var ul = document.getElementById("MyCart");
            var li = document.createElement("li");
            var icon = "";
            if (data['type'] == 'Webpages') {
                icon = '<i style="font-size:10pt; font-weight: bold; padding-right:5px;" class="ti-world"></i>';
            }
            else if (data['type'] == 'Datasets') {
                icon = '<i style="font-size:10pt; font-weight: bold; padding-right:5px;" class="ti-ruler-pencil"></i>';
            }
            else if (data['type'] == 'WebAPIs') {
                icon = '<i style="font-size:10pt; font-weight: bold; padding-right:5px;" class="ti-control-shuffle"></i>';
            }
            else if (data['type'] == 'Notebooks') {
                icon = '<i style="font-size:10pt; font-weight: bold; padding-right:5px;" class="ti-package"></i>';
            }
            li.innerHTML = '<div class="media">' +
                icon +
                '<div class="media-body">' +
                '<h5 class="notification-user"><a target="_blank" href="' + data['url'] + '">' + data['title'] + '</a> </h5>' +
                '</div>' +
                '<a href="#" onclick="modifyBasket(&quot;delete&quot;,&quot;&quot;,&quot;&quot;,&quot;&quot;,&quot;' + data['id'] + '&quot;);"' +
                'style="font-size:8pt;  display:inline-block;"> <i class="ti-close"></i>' +
                '</a>' +
                '</div>';
            li.setAttribute("id", data['id']); // added line
            ul.appendChild(li);
        }
        else if (data['operation'] == 'delete') {
            $('#' + data['id']).remove();
        }

        cnt = document.querySelectorAll("#MyCart li").length - 1;
        $('#MyCartCount').text(cnt);
    }
    {% comment %} { { functionList | safe } } {% endcomment %}
    
    // ---------------------------------------------------------


    //======================= Newly defined functions ========================
    function toggleSelection(item, operation, cart_operation) {
        // Modify selection icon
        if (operation=='select') {
            $(item)
            .attr("id", "selected_item")
            .attr("src", '{% static "images/selected_icon.png" %}')
            .attr("onclick", "selectObject(event, 'cancel');")
            .attr("title", 'Cancel'); 
        }
        else if (operation=='cancel') {
            $(item)
            .attr("id", "")
            .attr("src", '{% static "images/selection_icon.png" %}')
            .attr("onclick", "selectObject(event, 'select');")
            .attr("title", 'Select'); 
        }
        $(item).tooltip('dispose').tooltip();

        // Modify my cart
        var item_data = {
            "operation": cart_operation, 
            'type': item.dataset.type,
            'id': 'item'+item.dataset.docid, 
            'docid': item.dataset.docid, 
            'name': item.dataset.name, 
            'url': item.dataset.url, 
        }
        modifyCartItems(item_data); 
    }
</script>
{% endblock %}