{% extends 'body.html' %}
{% load static %}

{% block main_body %}
<div class="pcoded-content" >
    <div class="pcoded-inner-content">
        {% comment %} Message box {% endcomment %}
        <div class="main-body">
            <div class="page-wrapper" id="MessageBox">
                <script>sessionStorage.setItem("searchValue", "{{query}}"); </script>
                {% if num_hits == 10000 %}
                I found <b> more than {{ num_hits }}</b> results for you!
                {% elif num_hits > 0 %}
                I found <b>{{ num_hits}}</b> results for you!
                {% elif num_hits == 1 %}
                I found only <b>one</b> result for you!
                {% else %}
                I couldn't find <b>anything</b> based on <b>"{{query}}"</b> for you!
                <br>
                {% if suggestedquery != "" %}
                Did you mean:
                <b><a href="../notebookSearch/genericsearch?query={{ suggestedquery }}&page=1">{{
                        suggestedquery }}</a></b>
                {% endif %}
                <script>
                    //sessionStorage.setItem("SearchFailed","Yes");
                    sessionStorage.setItem("searchValue", "");
                </script>
                {% endif %}
                <a style="color:blue;font-size:xx-small;" href="#"
                    onclick="sendFeedback('notebooks', '{{query}}', 'guestUser');">
                    (Feedback)</a>
                <br>
                <br>

                <script>
                    if (sessionStorage.getItem("SearchFailed") == "Yes") {
                        cuteAlert({
                            type: "info",
                            title: "No results found",
                            message: "I coudn't find anything for you! <br> Please revise your search term.",
                            buttonText: "Okay"
                        }).then(() => {
                            // do something
                        });
                    }
                    sessionStorage.setItem("SearchFailed", "No");
                </script>

                {% comment %} Notebook result page {% endcomment %}
                {% block object_list %} Object list {% endblock %}
                
            </div>

            <div style="text-align:center; margin-bottom:40px;">
            {% for page in page_range %}
            {% if page == current_page %}
            <input type="button" class="btn btn-grd-primary"
                style="font-weight:bold; width:30px; padding:5px;" value="{{ page }}">
            {% else %}
            <input type="button" class="btn btn-primary btn-outline-primary"
                style="font-weight:bold; width:30px; padding:5px;" value="{{ page }}"
                onclick="btnPage({{ page }});">
            {% endif %}
            {% endfor %}
            </div>
        </div>
        <div id="styleSelector">

        </div>
    </div>
</div>


<script>
    //---------------------------------------------------------------------
    function btnPage(page) {
    // Construct URLSearchParams object instance from current URL querystring.
    var queryParams = new URLSearchParams(window.location.search);
    // Set new or modify existing parameter value.
    queryParams.set("page", page);
    // Replace current querystring with the new one.
    history.replaceState(null, null, "?" + queryParams.toString());
    location.reload();
    }
</script>
{% endblock %}