<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'fontawesome-free-5.15.1/css/all.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Search</title>
    <script src="https://kit.fontawesome.com/afd6aa68df.js" crossorigin="anonymous"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
      $(document).ready(function(){
        $("button").click(function(){
          $(".box").hide();
        });
      });
      </script>


</head>
<body>
    <div class="box">
        <form name="search">
            <input type="text" class="input" name="txt" 
            onmouseout="document.search.txt.value = ''">
        </form>
            <i class="fas fa-search"></i>
    </div>
    <p>I will hide</p>
    <button>Click me to hide</button>
</body>
</html>
